<div class="container-fluid">
  <div class="col-md-4 col-sm-3 col-xs-1"></div>
  <div class="col-md-4 col-sm-6 col-xs-10">
    <% if @user_type %>
      <h2><%= @user_type.capitalize %> sign up</h2>
    <% else %>
      <h2 id="no_user_type">Sign up</h2>
    <% end %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group field">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group field">
        <%= f.label :password do %>
          Password
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <% end %>
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="form-group field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>

      <% if @user_type || @token %>
        <%= f.hidden_field :user_type, value: @user_type %>
      <% else %>
        <%= f.label "User Type" %>
        <%= f.select :user_type, [['Buyer', 'buyer'], ['Seller', 'seller']], {}, {class: "form-control"} %>
      <% end %>

      <%= f.hidden_field :token, value: @token %>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-default" %>
      </div>
    <% end %>

    <%= render partial: "devise/shared/links" %>
  </div>
  <div class="col-md-4 col-sm-3 col-xs-1"></div>
</div>
