<div class="container-fluid">
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
  <div class="col-md-6 col-sm-8 col-xs-10">
    <h2>Registration for Seller</h2>

    <%= nested_form_for(@seller) do |f| %>
      <% if @seller.errors.any? %>
      <div class="error-field">
        <p>Please fix the following errors:</p>
        <ul>
          <% @seller.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group field">
        <%= f.label :company_role %>
        <%= f.text_field :company_role, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :corporate_email %>
        <%= f.email_field :corporate_email, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :gender %>
        <%= f.select :gender, [['Male', 'male'], ['Female', 'female'], ['Other', 'other']], {}, { class: "form-control" } %>
      </div>

      <div class="form-group field">
        <%= f.label :age %>
        <%= f.number_field :age, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :education, "Highest completed level of education" %>
        <%= f.select :education, [['Less than High School', 'lower'], ['High School', 'high_school'],
                                  ['Associate\'s degree', 'associate'], ['Bachelor\'s degree', 'bachelor'],
                                  ['Master\'s degree', 'master'], ['Doctoral or professional degree', 'professional']], {}, { class: "form-control" } %>
      </div>

      <div class="form-group field">
        <%= f.label :education_institution, "Institution where you completed that level of education" %>
        <%= f.text_field :education_institution, class: "form-control" %>
      </div>

      <%= f.fields_for :employers do |ff| %>
        <div class="form-group field">
          <%= ff.label :name %>
          <%= ff.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group field">
          <%= ff.label :role %>
          <%= ff.text_field :role, class: "form-control" %>
        </div>
        <%= ff.link_to_remove "Remove previous employer", class: "btn btn-danger", role: "button" %>
      <% end %>
      <%= f.link_to_add "Add previous employer", :employers, class: "btn btn-default", role: "button" %>

      <div class="form-group field">
        <%= f.label :expertise, "List your areas of expertise (comma separated)" %>
        <%= f.text_field :expertise, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :linkedin, "Link to Linkedin profile" %>
        <%= f.text_field :linkedin, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :equity, "How much equity do you have in the startup you are selling?" %>
        <%= f.number_field :equity, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :ssn, "Social Security Number (for background check purposes)" %>
        <%= f.text_field :ssn, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.label :about, "Tell us a bit more about yourself" %>
        <%= f.text_area :about, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
</div>
