<div class="container-fluid">
  <div class="col-md-3"></div>
  <div class="col-md-6 content">
    <h1><%= @conversation.getPartner(current_user) %></h1>

    <section class="conversation">
      <% if @conversation.messages.any? %>
        <div id="messages">
          <% @conversation.messages.each do |message| %>
            <% message.notifications.update_all({read: true}) %>
            <p>
              <% if message.user.seller? %>
                <b><%= message.user.seller.company.name %></b>: <%= message.content %>
              <% else %>
                <b><%= message.user.name %></b>: <%= message.content %>
              <% end %>
            </p>
          <% end %>
        </div>
      <% else %>
        <div class="hidden" id="messages"></div>
      <% end %>
      <%= render partial: 'messages/message_form', locals: { message: @message, conversation: @conversation } %>
    </section>
  </div>
  <div class="col-md-3"></div>
</div>
