<h1><%= @conversation.company.name %></h1>

<section class="conversation">
  <% if @conversation.messages.any? %>
    <div id="messages">
      <% @conversation.messages.each do |message| %>
        <p>
          <% if message.user.seller? %>
            <b><%= message.user.seller.company.name %></b>: <%= message.content %>
          <% else %>
            <b><%= message.user.name %></b>: <%= message.content %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% else %>
    <div class="hidden" id="messages">
    </div>
  <% end %>
  <%= render partial: 'messages/message_form', locals: { message: @message, conversation: @conversation } %>
</section>
